.jumbotron
{
	text-align:center;
}

td
{
  vertical-align: top;
}

.stringicon
{
  height: 22px;
  margin: auto;
  opacity: 0.9;
}
.gitpodicon
{
	height:35px;
}
.github-follow-button-main
{
	height:30px;
}
.github-follow-button
{
	height:20px;
}
a
{
	font-size:19px;
}
.discord-follow-button {
    color: #fff;
    background: #9932CC;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.telegram-follow-button {
    color: #fff;
    background: #1e97d7;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.telegram-follow-button:hover {
    background: #167ba5;
    color: #fff;
}
.telegram-follow-button img{
    width: 20px;
    vertical-align: middle;
}
.twitter-follow-button-2 {
    color: #fff;
    background: #1DA1F2;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
  
}
.cipher-387-button {
    color: #fff;
    background: red;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
  
}
.mainsite-button
{
   color: #fff;
    background: red;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    
}


.telegram-follow-button {
    color: #fff;
    background: #1e97d7;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.linkedin-follow-button {
    color: #fff;
    background: #2867B2;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.github-follow-button {
    color: black;
    background: silver;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.revue-follow-button {
    color: #fff;
    background: #FFA500;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.telegram-follow-button:hover {
    background: #167ba5;
    color: #fff;
}
.telegram-follow-button img{
    width: 20px;
    vertical-align: middle;
}
.twitter-follow-button-2 {
    color: #fff;
    background: #1DA1F2;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
  
}

